
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* overflow-x: hidden; */
}

.z-index-0 {
    z-index: 0;
}
.navbarr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6DB7A7;
    padding: 10px 20px;
    z-index: 2000;
}

.navbarr ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 45px;
}

.logoo {
    display: flex;
    align-items: center;
}

.logoo img {
    width: 40px; /* Sesuaikan dengan ukuran logo Anda */
    margin-right: 10px;
}

.logoo span {
    color: white;
    font-weight: bold;
}

.nav-linkss a {
    color: #ffffff;
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 8px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #6DB7A7;
    transition:  0.3s;
}

.nav-linkss a:hover {
    background-color: #4d8b7b;
    color: white;
}

.menu-togglee {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

/* responsive breakpoint tablet */

@media screen and (max-width: 768px){

    .menu-togglee {
        display: flex;
    }
    .navbarr ul {
        position: absolute;
        right: 0;
        height: 100vh;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 5;
        background-color: #6DB7A7;
        width: 80%;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0)
    }
}


/* responsive breakpoint mobile */

@media screen and (max-width: 576px){
    .menu-togglee {
        display: flex;
    }
    .navbarr ul {
        position: absolute;
        right: 0;
        height: 100vh;
        right: 0;
        top: 0;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: -1;
        background-color: #6DB7A7;
        width: 80%;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul.slide {
        transform: translateX(0)
    }
}

/* navbar hamburger */



.menu-togglee input {
    position: absolute;
    width: 40px;
    height: 28px;
    left : -6px;
    top: -2px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.menu-togglee span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animasi */
.menu-togglee span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-togglee span:nth-child(4) {
    transform-origin: 0 100%;
}
.menu-togglee input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px );
}

.menu-togglee input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}


.menu-togglee input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

